#cab-hero {
  height: 80vh;
  background-image: url("https://s1.rdbuz.com/seo/ind/Indian-taxi-cover_1660887570.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
}
